.main-form-holder {
    padding: 3rem 2rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    margin-top: 8rem;
    z-index: 99;
    background-color: white;
    margin-left: 2rem;
    margin-right: 2rem;
}

.main-form-holder form{
    background: rgb(85, 85, 85);
    color: white;
    padding: 1.75rem 1rem 1.5rem 1rem;
}
.main-form-holder form fieldset:nth-child(2){
    padding-bottom: 1.5rem;
}
.main-form-holder input[type="submit"]{
    background-color: oklch(60% 0.18 140);
    border: none;
    padding: 0.6rem  1.5rem;
    margin-top: 1.5rem;
    color: white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 0.9rem;
    border-radius: 5px;
}

.main-form-holder input {
    border-radius: 3px;
    border: none;
    padding: 2px 8px;
}
.main-form-holder input:focus {
    outline: none;
}

.main-form-holder form fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 0;
}

.signup-header {
    font-size: 1rem;
    padding: 1rem 0 3rem;
    position: fixed;
    width: 100dvw;
    top: 0;
    z-index: -99;
}

.signup-title {
    font-weight: bold;
    font-size: 2rem;
}